.App {
  text-align: center;
  margin: 0 auto;
  max-width: 960px;
  background-color: #3B3C36;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

table {
  margin: 0 auto;
  /* background-color: rgb(239, 204, 0); */
}

table tr {
  background-color: rgba(	247,	204,	57, 0.8);
  
}

table tr:hover {
  background-color: rgba(	247,	204,	57, 0.7);
}

td {
  padding: 10px 10px;
  border-color: rgba(	247,	204,	57, 0.7);;
}


@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
